<div class='text-center text-lg pt-2'>or</div>
<div class='socialbtns'>
  <div class='btn mt-0 google w-1/2'>
    <i class="fab fa-google-plus-g"></i>
    <div><a href="/users/auth/google_oauth2">Sign in with Google</a></div>
  </div>
  <div class='btn facebook w-1/2'>
    <i class="fab fa-facebook-square"></i>
    <div><a href="/users/auth/google_oauth2">Sign in with facebook</a></div>
  </div>
</div>