<div class="h-screen flex pt-16">
  <div class="pt-4"><%= link_to '商品列表', shops_path if current_user.shop.present? %></div>
  <%= link_to '新增商品', new_shop_product_path(current_user.shop) if current_user.shop.present? %>
  <%= link_to '新增優惠卷', new_coupon_path if current_user.shop.present? %>
  <%= link_to '檢視優惠卷', list_coupons_path if current_user.shop.present? %>
</div>
