.cards {
  @apply  flex justify-center items-center pt-10;
  .content {
     @apply flex flex-wrap px-10 w-full;
     & >div {
        @apply w-6/12 md:w-4/12 lg:w-2/12 p-0.5;
      }
     }
  .findsame {
     @apply py-2 w-full bg-red-500 text-white rounded-b-sm ;
  }
  .cardstyle {
     @apply rounded-sm p-0.5 bg-white shadow-sm relative z-0;
    
     .picture {
        width:100%;
        padding-top:100%;
        position:relative;   
     }
     .picture img{
        width:100%;
        height:100%;
        object-fit:cover;
        position:absolute;
        top:0;
        left:0;
     }
     
     .item {
        @apply flex h-16 md:h-20 content-between flex-wrap;
     }
     .item>div {
        @apply flex justify-between w-full;
     }
  }
}
.cardstyle:hover .cardhover:after {
   visibility: visible;
}
.dark{
   -webkit-filter:grayscale(1);
   opacity: 0.3;
}
.cardhover {
   @apply border border-red-500;
   // &:after {
   //    content: '找相似';
   //    position: absolute;
   //    left: -1px;
   //    // transform: translateX(-50%);
   //    padding: 8px 0;
   //    width: 101%;
   //    text-align: center;
   //    @apply bg-red-500 text-white  rounded-b-sm;
   //    z-index: 0;
   // }
}
