.chatbtn {
  @apply text-2xl p-3 flex justify-between;
}

.chatroom {
  @apply bg-gray-50 text-red-500 fixed bottom-0 right-5 z-50 rounded border;
}

.show {
  width: 510px;
  height:390px
}

.roomtitle {
  @apply border-b-2;
}

.cbtn {
  cursor: pointer
}

.mini {
  width: 85px;
}

.none{
  visibility: hidden;
}

.zone {
  height: 334px;
}

.input {
  @apply absolute bottom-0 left-0 w-full border-t-2 ;
}

.new_message {
  width: 100%;
}

#chatroom {
  @apply relative
}

.message_area {
  height: 310px;
  overflow-y: scroll;
}

      .message {
        display: flex;
        margin-bottom: 5px ;

        .content {
          padding: 5px 8px;
          word-break: break-word;
          border-radius: 5px;
        }

  
      }

      .other {
        padding-right: 50%;

        .content {
          margin-left: 10px;
          background-color: rgb(226, 226, 226);
        }

        
      }

      .me {
        justify-content: flex-end;
        padding-left: 50%;

        .content {
          order: -1;
          margin-right: 10px;
          background-color: rgb(56, 56, 136);
          color: white;
        }

      
      }
      