.chatbtn {
  @apply text-2xl p-3 flex justify-between;
}

.chatroom {
  @apply bg-gray-50 text-red-500 fixed bottom-0 right-5 z-50 rounded border;
}

.message_box {
  height: 100%
}

.show {
  width: 510px;
  height:390px
}

.roomtitle {
  @apply border-b-2;
}

.cbtn {
  cursor: pointer
}

.mini {
  width: 85px;
}

.none{
  visibility: hidden;
}

.zone {
  height: 330px;
}

.input::before {
  content:'';
  display: block;
  @apply border-t-2 ;
  width: 404.391px;
}

.input {
  @apply justify-end align-middle h-1/6 relative right-4;
  width: 404.391px;
  .ctext{
    @apply w-5/6 px-4;
  }
  .csubmit{
    @apply w-1/6;
  }
}

.new_message {
  width: 100%;
}

.container {
  @apply flex flex-col h-full ;
}
.message_area {
  @apply h-5/6;
  overflow-y: scroll ;
}

      .message {
        display: flex;
        margin-bottom: 5px ;

        .content {
          padding: 5px 8px;
          word-break: break-word;
          border-radius: 5px;
        }

  
      }

      .other {
        padding-right: 50%;

        .content {
          margin-left: 10px;
          background-color: rgb(226, 226, 226);
        }

        
      }

      .me {
        justify-content: flex-end;
        padding-left: 50%;

        .content {
          order: -1;
          margin-right: 10px;
          background-color: rgb(56, 56, 136);
          color: white;
        }

      
      }
      