.modal {
  background-color: rgba(0,0,0,.4);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99;
  transition-timing-function: cubic-bezier(0.88, 0.05, 0.32, 1.01);
}
.modal .modalicon {
  width: 200px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  // padding: 10px 10px 100px 10px ;
  transition: .5s;
  transition-timing-function: cubic-bezier(0.88, 0.05, 0.32, 1.01);
}
.word {
  width: 400px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%,-50%);
  transform-origin:(top,left);
  transition: 2s;
}
.content img {
  width: 100%;
}
.modal .X {
  position: absolute;
  left: 65%;
  top: 25%;
  transform: translate(-50%,-50%);
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor:pointer;
  // visibility: hidden;
}
