.fa-facebook-messenger {
  color: #00C6FF;
}
.fa-facebook{
  color: #0078FF;
}
.google {
  color:  #DD4B39;
}
.fa-pinterest {
  color: #BD081C;
}
.icons >span {
  font-size: 25px;
}
.icons img {
  width:25px;
  display:inline-block;
  vertical-align: top;
}
