<footer class="bg-gray-800 text-gray-600 body-font mt-36">
  <div class="container px-5 pt-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
    <div class="w-72 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left pl-16">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <%= image_tag 'footerlogo.png'%>
      </a>
    </div>
    <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center justify-end">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3 text-red-200">關於shoppinggo</h2>
        <nav class="list-none mb-10">
          <li>
            <a class=" hover:text-gray-800 text-white hover:text-red-200">使用者條款</a>
          </li>
          <li>
            <a class=" hover:text-gray-800 text-white hover:text-red-200">隱私權政策</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3 text-red-200">團隊成員</h2>
        <nav class="list-none mb-10">
          <li>
            <a href="https://github.com/Saika3569" class="text-white hover:text-red-200">鄭元喬</a>
          </li>
          <li>
            <a href="https://github.com/XieJiaming" class="text-white hover:text-red-200">謝家銘</a>
          </li>
          <li>
            <a href="https://github.com/barpa00" class="text-white hover:text-red-200">簡君倪</a>
          </li>
          <li>
            <a href="https://github.com/kyuyui" class="text-white hover:text-red-200">邱俞芳</a>
          </li>
          <li>
            <a href="https://github.com/henry9779" class="text-white hover:text-red-200">黃平宸</a>
          </li>
        </nav>
      </div>
    </div>
  </div>
</footer>