<h1>首頁</h1>
<header class="bg-pink-300 flex justify-center items-center" style="height:300px">
  <span class="text-6xl	bg-clip-text text-transparent bg-gradient-to-r from-green-200 to-purple-300 font-extrabold">
    jumbotron
  </span>
</header>
<section class="py-5 bg-pink-100 flex justify-center items-center">
  <div class="container max-auto max-w-screen-xl">
  分類
    <div class="px-2">
      <div class="flex flex-wrap">
        <div class="w-4/12 md:w-2/12 p-2">
          <div class="bg-pink-200" style="height:100px"></div>
        </div>
        <div class="w-4/12 md:w-2/12 p-2">
          <div class="bg-pink-200" style="height:100px"></div>
        </div>
        <div class="w-4/12 md:w-2/12 p-2">
          <div class="bg-pink-200" style="height:100px"></div>
        </div>
        <div class="w-4/12 md:w-2/12 p-2">
          <div class="bg-pink-200" style="height:100px"></div>
        </div>
        <div class="w-4/12 md:w-2/12 p-2">
          <div class="bg-pink-200" style="height:100px"></div>
        </div>
        <div class="w-4/12 md:w-2/12 p-2">
          <div class="bg-pink-200" style="height:100px"></div>
        </div>
      </div>
  </div>
</section>
<section class="py-5 bg-pink-100 flex justify-center items-center">
  <div class="container max-auto max-w-screen-xl">
      <div class="flex flex-wrap">
        <div class="w-6/12 md:w-3/12 p-2">
          <div class="rounded bg-pink-200" style="height:200px"></div>
        </div>
        <div class="w-6/12 md:w-3/12 p-2">
          <div class="rounded bg-pink-200" style="height:200px"></div>
        </div>
        <div class="w-6/12 md:w-3/12 p-2">
          <div class="rounded bg-pink-200" style="height:200px"></div>
        </div>
        <div class="w-6/12 md:w-3/12 p-2">
          <div class="rounded bg-pink-200" style="height:200px"></div>
        </div>
      </div>
  </div>
</section>

<div class="wrap">
  <div class="rows">
    <% @products.each do |product|%>
      <%= link_to product_path(product) do %>
        <div class="item">
          <div class="img"><%= image_tag product.image_url if product.image_url.present? %></div>
          <div class="content">
            <div class="title"><%= product.name %></div>
            <div class="price">$<%= product.price %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<style>
  .content {
    display: flex;
    justify-content: space-between;
  }

</style>