<div class="home">
 <div class="modal">
        <div class="content">
            <img src="https://picsum.photos/id/684/400/400" alt="">
            <div class="X"><span>&#215;</span></div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, molestias.</p>
        </div>
    </div>
<%= render 'swiper' %>
<%= render 'classification' %>
<%= render 'shared/card' %>
<%= render 'footer' %>
</div>
